.combinedInput {
  display: flex;
  flex-flow: column;
  margin-bottom: 29px;
}

.combinedInput__disabled {
  opacity: 0.4;
}

.combinedWithInput {
  width: 90%;
}

@media screen and (max-width: 1440px) {
  .combinedInput {
    margin-bottom: 0;
  }
  .combinedWithInput {
    width: 85%;
  }
}
