@import '/src/scss/variables.scss';
@import '/src/scss/typographyMixins.scss';

.input {
  overflow: auto;
  display: inline-block;
  box-sizing: border-box;
  width: 427px;
  height: 68px;
  padding-left: 24px;
  background-color: $inputTextField;
  border: none;
  margin-top: 24px;
  border-radius: 16px;
  color: $inputText;
  @include h2;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.inputInfo {
  position: absolute;
  top: 40%;
  right: 24px;
  color: $inputText;
  @include h2;
}

.inputInfoInBox {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 7px;
  background-color: $inputInfoInBox;
  border-radius: 16px;
  padding: 15px 17px;
  @include h3;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label {
  @include label;
  color: $inputText;
}

.input:focus {
  outline: 2px solid $inputTextField;
  background-color: $inputTextFieldActive;
}

.inputWrapper {
  display: inline-block;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.inputWithInfo {
  position: relative;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  .input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .input {
    height: 60px;
    width: 280px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .inputInfo {
    top: 25%;
    color: $gray1;
    @include h2(22px);
  }
  .inputWrapper {
    width: 280px;
  }
  .input {
    max-width: calc(100vw - 22px);
    color: $gray1;
    @include h2(22px);
  }
  .inputInfoInBox {
    width: 67px;
    height: 48px;
  }
}
@media screen and (max-width: 320px) {
  .inputWrapper {
    max-width: calc(100vw - 10px);
  }
}
