@import './variables.scss';
@import './typographyMixins.scss';

.calculator {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow-x: hidden;
  background-color: $card-background;
}

.h1 {
  position: absolute;
  width: 753px;
  height: 98px;
  left: 47px;
  top: 213px;
}

.inputs {
  position: absolute;
  display: flex;
  gap: 32px;
  width: 100%;
  height: 119px;
  left: 47px;
  top: 343px;
}

.sendButton {
  position: absolute;
  width: 426px;
  height: 68px;
  left: 965px;
  top: 516px;
}

.sum {
  position: absolute;
  height: 81px;
  left: 47px;
  top: 506px;
}

.payment {
  position: absolute;
  height: 81px;
  left: 506px;
  top: 506px;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .calculator {
    width: 1024px;
    height: 1013px;
  }
  .h1 {
    left: 48px;
    top: 100px;
  }
  .inputs {
    flex-direction: column;
    width: 928px;
    height: 119px;
    left: 48px;
    top: 242px;
  }
  .sum {
    left: 48px;
    top: 700px;
  }
  .payment {
    left: 528px;
    top: 700px;
  }
  .sendButton {
    width: 345px;
    left: 48px;
    top: 825px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .calculator {
    width: 768px;
    height: 1013px;
  }
  .h1 {
    left: 36px;
    top: 64px;
  }
  .inputs {
    flex-direction: column;
    width: 696px;
    height: 119px;
    left: 36px;
    top: 206px;
  }
  .sum {
    left: 36px;
    top: 664px;
  }
  .payment {
    left: 400px;
    top: 664px;
  }
  .sendButton {
    left: 4.69%;
    right: 50.39%;
    top: 77.89%;
    bottom: 15.4%;
  }
}

@media screen and (max-width: 768px) {
  .calculator {
    width: 320px;
    height: 803px;
  }
  .h1 {
    @include h1(34px);
    width: 100%;
    height: 124px;
    left: 21px;
    top: 44px;
  }
  .inputs {
    flex-direction: column;
    width: 280px;
    height: 96px;
    left: 20px;
    top: 200px;
    gap: 16px;
    div {
      gap: 8px;
    }
  }
  .sum {
    left: 20px;
    top: 536px;
  }
  .payment {
    left: 20px;
    top: 606px;
  }
  .sendButton {
    width: 280px;
    height: 60px;
    left: 20px;
    top: 679px;
  }
}

@media screen and (max-width: 320px) {
  .calculator {
    width: 100vw;
  }
}
