$background: #ebebeb;
$card-background: #ffffff;

$gray1: #333333;
$black: #111111;

$button: #ff9514;
$buttonHover: #111111;
$buttonActive: #575757;
$buttonDisabled: rgba(255, 149, 20, 0.4);
$buttonText: #ffffff;
$buttonLoader: #ffffff;
$inputTextField: #f3f3f4;
$inputTextFieldActive: #ffffff;
$inputText: #575757;
$inputInfoInBox: #ebebec;
$sliderTrack: #e1e1e1;
$slider: #ff9514;
